div#applesearch{
    border: 1px dashed gray;
    padding-top:10px;
    padding-left:5px;

}

#applesearch .sbox_l  {
	background: white url('/images/srch_l.gif') no-repeat top left;
	float: left;
	width: 19px; height: 19px;
}

#applesearch .sbox_r  {
	background: white url('/images/srch_r.gif') no-repeat top left;
	float: left;
	width: 19px; height: 19px;
}

#applesearch .sbox input {
	background: white url('/images/srch_bg.gif') repeat-x top left;
	float: left;
	border: 0;
	height: 19px;
    width: 350px;
	padding: 3px;
	font: 11px/13px arial;
	color: #000;
}

#content {
	clear: both;
}

  /*.styled {*/
    /*position: absolute;*/
    /*width: 58px;*/
    /*height: 21px;*/
    /*padding: 0 24px 0 8px;*/
    /*color: #fff;*/
    /*font: 12px/21px arial,sans-serif;*/
    /*background: url(/images/select.gif) no-repeat;*/
    /*overflow: hidden;*/
  /*}*/

  .select {
        background: url("/images/select.gif") no-repeat scroll 0 0 transparent;
        color: #FFFFFF;
        font: 12px/21px arial,sans-serif;
        height: 21px;
        overflow: hidden;
        padding: 0 24px 0 8px;
        position: absolute;
        width: 158px;
  }

  select.styled {
        opacity: 0;
        position: relative;
        width: 190px;
        z-index: 5;
        filter: alpha(opacity=0); WIDTH: 190px;
  }

  p.search_selects {
      margin: -2px 0 0 25px;
      float:left;
      font: 1em/1.7em arial,sans-serif;
  }

  p.search_selects img{
    padding:0; margin:0;
  }
