<div id="result_content">

<h2>Результаты поиска:
    <span class="black">
    <a href="#">найдено&nbsp;<span id="estates_result_count">__</span>&nbsp;объектов</a>
    |
    <!--<a class="estates-table-toggle-map-button" href="#">Свернуть карту</a>-->
    <!--|-->
    <a class="side-bar-button" href="#">Скрыть правую колонку</a>
    </span>
</h2>

  <div class='pagination'>
  <span class="paging"></span>
</div>

<div id="result_content_table">
    <div id="search-results" class="search-results">
        <table id="estates_table">
            <tbody>
              <tr>
                <th></th>
                <th id="room_sorter">
                  <a href="#">комнат</a>
                  <a href="#">
                    <span class="ico downn"></span>
                  </a>
                </th>

                <th id="adress_sorter">месторасположение</th>
                <th id="floor_sorter">
                  <a href="#">этаж</a>
                  <a href="#">
                    <span class="ico downn"></span>
                  </a>
                </th>
                <th id="cost_sorter">
                  <a href="#">цена</a>
                  <a href="#">
                    <span class="ico downn"></span>
                  </a>
                </th>
                <th>
                  описание
                  <a class="green description-extra-button" href="#">развернуто</a>
                </th>
                <th></th>
              </tr>
            </tbody>
</table>
</div>

</div>
</div>




<style>
  /* PAGING  */

div.pagination {display: inline; float: right; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.8em;}
span.paging{  min-height:26px;  }
span.paging a, span.paging em{margin: 0 0.2em 0 0.1em; padding: .3em .4em; font-style:normal;}
span.paging a:hover { background: #c5dae5; color: #456b7e; }
span.paging a{text-decoration:underline;}
a.page_first, a.page_last{display:none;}


</style>
