<div id="universal_search" class="search">
    <div class="main-search">
        <%= render :partial => "searh_form", :object => @rents %>
    </div>
</div>

<div class="main">
    <div id="content" class="content">
        <table>
            <tbody>
            <tr>
            <td class="contentside">

                            <%= render :partial => 'result' %>

            </td>
            <td class="spaceside">&nbsp;</td>
            <td id="side_bar_toggler" class="toggleside">
                <a href="#">
                    <span class="ico arrtoggle"></span>
                </a>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="side_bar" class="sidebar" style="display: block;">
<!--SIDEBAR CONTENT GOES HERE-->
</div>

<br class="clear">

<div class="footer">
        <div class="copyrights2">
            <span class="black">&copy;</span>
            2010 &ndash; 2011 "Пандора - живая база недвижимости" Все права защищены.

        </div>
    </div>


<% content_for :head do %>
  <%= javascript_include_tag 'rents.js' %>
<% end %>

